<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>myWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
  	<param-name>company</param-name>
  	<param-value>company</param-value>
  </context-param>
  <context-param>
  	<param-name>manager</param-name>
  	<param-value>나</param-value>
  </context-param>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/error404.jsp</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/error/error500.jsp</location>
  </error-page>
  
  
  
  
  
  
  
  
  
  <servlet>
  	<servlet-name>LifeCycle</servlet-name>
  	<servlet-class>sample.LifeCycle</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LifeCycle</servlet-name>
  	<url-pattern>/LifeCycle</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>MyFirstServlet</servlet-name>
  	<servlet-class>sample.MyFirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MyFirstServlet</servlet-name>
  	<url-pattern>/MyFirstServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>InitParam</servlet-name>
  	<servlet-class>sample.InitParam</servlet-class>
  	<init-param>
  		<param-name>tel</param-name>
  		<param-value>010-0000-0000</param-value>
  	</init-param>
  	<init-param>
  		<param-name>email</param-name>
  		<param-value>abc@abc.com</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>InitParam</servlet-name>
  	<url-pattern>/InitParam</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>VisitInsert</servlet-name>
  	<servlet-class>bbs.VisitInsert</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>VisitInsert</servlet-name>
  	<url-pattern>/VisitInsert</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>VisitList</servlet-name>
  	<servlet-class>bbs.VisitList</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>VisitList</servlet-name>
  	<url-pattern>/VisitList</url-pattern>
  </servlet-mapping>
  
  
</web-app>